.about {
  /* background-color: #e6e5d6; */
  background: linear-gradient(#e6e5d6, #f5f5f5);
  width: 100%;
  height: 150vh;
}

.about h2 {
  padding: 2rem 1rem;
  color: black;
}

.about h3 {
  padding: 1rem;
  color: rgba(0, 0, 0, 0.8);
}

.about-intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  margin: 0 auto;
}

.about-intro .bookunluck-intro {
  width: 50%;
}

.library-img-container {
  margin: 25px auto;
  width: fit-content;
  height: fit-content;
  box-shadow: 20px 20px 0 #a57b5c, /* Top-left shadow*/ -20px -20px 0 #bd9a5f; /* Bottom-right shadow*/
}

.library-img-container img {
  width: 300px;
}

.about-paragraph {
  padding: 0 1rem;
  width: 70%;
  text-align: justify;
}

.about-features {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0 auto;
}

.ourmission-container,
.whyus-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 50%;
}

.reasons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.reason-block {
  flex: 1;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/*-------------------------------------------Quote style css */
.quote {
  text-align: center;
  margin: 2rem 0;
}

.quote blockquote {
  font-size: 1rem;
  font-style: italic;
  color: #333;
  quotes: "\201C""\201D""\2018""\2019";
}

.quote blockquote:before {
  content: open-quote;
}

.quote blockquote:after {
  content: close-quote;
}
