.explore-page {
  min-height: 90vh;
  height: 100%;
  width: 100%;
  /* background-image: url("../images/paper-background.png"); */
}
.e-s-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/paper-background.png");
  height: 13rem;
  padding-bottom: 0.3rem;
}
.search-heading {
  text-align: center;
  color: #333;
  margin-bottom: 1rem;
}

.explore-bar {
  /* margin: 0 auto;
  padding: 40px 0px;*/
  width: 70%;
  /* backdrop-filter: blur(2px); */
}
.search-bar-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

}

.search-bar {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.bytitle {
  flex-grow: 3;
  margin-right: 10px;
}

.byauthor {
  flex-grow: 2;
  margin-right: 10px;
}

.categories {
  flex-grow: 1;
}

.search-button {
  display: block;
  margin-left: 15px;
  width: 80px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #b37d5e;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #b1693f;
  transform: scale(0.9);
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.books-container a {
  text-decoration: none;
  color: inherit;
}

.search-input-container {
  position: relative;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* loading message */
.loading {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

/* error message */
.error {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

::placeholder {
  font-size: 15px;
  color: #b4b4b4;
}
