.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #f5f5f5;
}

.form-container h1 {
    margin-bottom: 1rem;
}

.form-container p {
    margin-bottom: 1rem;
}

.form-container form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
    background-color: white;
}

.form-container label {
    margin-bottom: 5px;
}

.form-container input[type="text"], .form-container input[type="password"] {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.form-container input[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #b17042ec;
    color: white;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #b17042;
}
