@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 5.3rem;
  width: 100%;
  transition: top 0.6s;
}
.header-show {
  top: 0;
}

.header-hide {
  top: -100px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  width: 18rem;
}

.navbar-brand img {
  width: 100%;
  height: auto;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
  padding: 0 8rem;
  backdrop-filter: blur(15px);
}

.container {
  margin-left: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.navbar-item {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #000000;
  text-decoration: none;
}

.navbar-item:hover {
  color: #453d3d;
}

.navbar-item.user:first-child {
  margin-right: 15px;
}

