.hero {
  /* background-image: url("../images/girl-on-table-reading.png"); */
  background-image: url("../images/paper-background.png");
  background-size: cover;
  background-position: center;
  height: 85vh;
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  /* margin: 0 -1px; */
}

.hero .hero-title {
  font-size: 5em;
}

.hero .hero-subtitle {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.hero .call-to-action {
  background-color: rgb(148 42 69);
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 0.7rem 2rem 0.7rem 1.7rem;
  text-decoration: none;
  border-radius: 25px;
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s ease;
}
.hero .call-to-action:hover {
  background-color: rgb(114 39 58);
}

.open-book-icon {
  font-size: 3em;
  padding-right: 0.3rem;
}

.hero-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text-content {
  flex: 1;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0);
}

.hero-image-content {
  flex: 1;
}

.hero-image-content img {
  width: 100%;
  height: auto;
  filter: brightness(0.8);
}

/* topbooks section */
.top-books {
  padding: 20px;
  background-color: #f9f9f9; /* light gray */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.top-books h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333; /* dark gray */
}
