/* topbooks section */
.top-books {
  /* background-color: rgb(237 235 222 / 30%); */
  background: url("../images/fallen-leaves-background.png"), rgb(237 235 222 / 45%);
  background-size: contain;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* position: relative; */
}

/* acctivate the possition for this ::before
.top-books::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(237, 235, 222, 0), rgba(237, 235, 222, 0.3));
} */

.top-books h2 {
  margin-bottom: 20px;
  padding: 1rem;
  text-align: center;
  color: #000000;
  font-weight: bold;
  backdrop-filter: blur(15px);
}

.slide-container {
  width: 90%;
  overflow: hidden;
  padding: 30px;
}

.slide-container .slick-slide {
  padding: 0px; 
}

.slick-initialized .slick-slide {
  display: flex;
  justify-content: space-around;
}

.slick-dots {
  bottom: -35px !important;
}

.slick-dots li {
  width: 25px !important;
}
